<div style="
    background-color: #d8e7f7; 
    background-size: cover;         
    margin: 0;       
    padding: 0;">

<nav class="navbar bg-body-tertiary" style="
background-color: #d8e7f7; 
background-size: cover;         
margin: 0;       
padding: 0;">
    <div class="container-fluid" style="
    background-color: #d8e7f7; 
    background-size: cover;         
    margin: 0;       
    padding: 25;">
      <a class="navbar-brand" routerLink="/home">
        <div>
          <img src="../../../assets/game-icons_muscle-up.svg" alt="Logo" width="30" height="24"
            class="d-inline-block align-text-top" style="background-color: #1976D2; border-radius: 6px;">
        </div>
        <div>
          Fitnex

        </div>
      </a>
      <div>
        <p  class="d-inline-flex gap-1" style="margin-right: 1rem;">
          
          <a  class="btn btn-primary" *ngIf="userRol==='profesor' || userRol === 'admin'"  (click)="redirectPay()"role="button" data-bs-toggle="button">Pagos</a>
        </p>

        <a>
          <button class="btn btn-primary" style="margin-right: 1rem;" *ngIf="userRol==='profesor' || userRol === 'admin'" (click)="routeTrouteToAlumnoProfesorListado()">Lista</button>
          <!-- *ngIf="rolUsuario === 'profesor' || rolUsuario === 'admin'"  -->
          </a>
        <a class="navbar-brand" *ngIf="userRol==='profesor' || userRol === 'admin' || userRol === 'alumno'"  >
          <img src="../../../assets/Vector.svg" (click)="redirectEditar()" role="button" alt="configuracion" width="30" height="24" >
        </a>
       
          <a  class="btn btn-primary" style="margin-right: .5rem" *ngIf="!isToken"  (click)="redirectLogin()"role="button" data-bs-toggle="button">Sign up</a>
          
        <a  class="btn btn-primary" *ngIf="!isToken"  (click)="redirectSignIn()"role="button" data-bs-toggle="button">Log in</a>
        
        <p  class="d-inline-flex">
          
          <a  class="btn btn-primary" *ngIf="userRol==='profesor' || userRol === 'admin' || userRol === 'alumno' || userRol=== 'espera'"  (click)="redirectLogout()"role="button" data-bs-toggle="button">Log out</a>
        </p>
      
      </div>
    </div>
  </nav>
  </div>
