
<div class="container-fluid" style="padding: 10px;text-align: center;position: fixed;bottom: 3rem;left: 0;right: 0;margin-top: 1rem">
    <div class="row">
        <a class="col-6 text-center" alt="Link Planificacion" routerLink="/home">
            <div>
                <img src="../../../assets/planificacion.svg" alt="planificacion" width="30" height="24" class="d-inline-block align-text-top" >     
            </div>
            <div>
                Planificacion
            </div>
        </a>
        <a class="col-6 text-center"  alt="Link Cases" routerLink="/clases">
            <div>
            <img src="../../../assets/clases.svg" alt="planificacion" width="30" height="24" class="d-inline-block align-text-top align-text-center" >     
            </div>
            <div style="color: black;">
            Clases
            </div>
        </a>
    </div>
</div>