<div class="fixed-bottom-navigation">
    <div class="container-fluid" style="padding: 10px;text-align: center;">
        <div class="row">
            <a class="col-6 text-center" alt="Link Planificacion" style="text-decoration: none; color: white;" routerLink="/home">
                <div>
                    <img src="../../../assets/planificacion.svg" alt="planificacion" width="30" height="24" class="d-inline-block align-text-top">
                </div>
                <div>
                    <b>Planificación</b>
                </div>
            </a>
            <a class="col-6 text-center" alt="Link Cases" routerLink="/clases">
                <div>
                    <img src="../../../assets/clases.svg" alt="planificacion" width="30" height="24" class="d-inline-block align-text-top align-text-center">
                </div>
                <div style="color: white;">
                    <b>Clases</b>
                </div>
            </a>
        </div>
    </div>
</div>
