.home{
    width: 100%;
    height: 100vh;
    background: url(https://www.figma.com/file/roAmLZXKECHvhgWlDB5Izi/image/9614d134935e1c61538787aff1d8131d6a0cb7c0) no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh; /* Establecer un mínimo de altura para que el fondo cubra toda la pantalla */
    margin: 0; /* Eliminar el margen predeterminado del body */
    padding: 0;
    /* Aplicar el fondo al elemento body */


}

/* Estilo para la etiqueta de un botón de radio seleccionado */
input[type="radio"]:checked + label {
    /* background-color: #1976D2; ; Cambia el color de fondo cuando está seleccionado */
    color: #1976D2;
    opacity: .5; 
    /* Cambia el color del texto cuando está seleccionado */
}



