<app-nav1></app-nav1>
<app-nav2> </app-nav2>
<div class="container-fluid">
    <div class="row">
      <h1 class="col" style="margin-left: 8%;">
        Clases
      </h1>
      <!-- <a class="col-2" href="Planificacion.html" style="text-decoration: none; margin-right: 1rem;">
        See all
      </a> -->
    </div>
  </div>
  <div style="margin-left: 4rem; margin-right: 4rem; margin-top: 1rem; margin-bottom: 8rem;">

    
    <app-ver-clases></app-ver-clases>
    
  </div>

<app-backvar1></app-backvar1>
<app-backvar2></app-backvar2>
