<div class="row-col-1" style="position: absolute 50%; margin-top: 3rem; text-align: center;">
  <h1 class="text-center">Rutina de Gym</h1>
  <!-- <h5 class="text-center" style="color:#1976D2"><br> </h5> -->
</div>
<div class="text-center mt-3" style="margin-bottom: 2rem;">
  <button class="btn btn-primary" (click)="agregarFila()">Agregar nueva rutina</button>
</div>
<div *ngIf="mostrarFormulario" class="container" style="margin-bottom: 1rem;">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Ejercicio</th>
        <th scope="col">Repeticiones</th>
        <th scope="col">RIR</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <!-- <td><input type="text" [(ngModel)]="nuevoEjercicio" placeholder="Ejercicio"></td>
        <td><input type="text" [(ngModel)]="nuevasRepeticiones" placeholder="Repeticiones"></td>
        <td><input type="text" [(ngModel)]="nuevoRIR" placeholder="RIR"></td> -->
      </tr>
    </tbody>
    <td><button class="btn btn-primary" (click)="realizarPUT()">Guardar</button></td>
  </table>
</div>

<div class="text-center mt-3" style="margin-bottom: 2rem;">
  <!-- <div>
  <label>Selecciona el día:</label>
  </div> -->
  <!-- <div>
  <button class="btn btn-primary"  style="margin-right: 3rem;"><</button>
  
  <button class="btn btn-primary"  style="margin-left: 3rem;">></button>
</div> -->
</div>


<div class="container" style="margin-bottom: 8rem;">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Ejercicio</th>
        <th scope="col">Repeticiones</th>
        <th scope="col">RIR</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let detalle of arrayPlanificacionesDetalle.Planificacion">
        <td>{{ detalle.nombre }}</td>
        <td>{{ detalle.repeticion }}</td>
        <td>{{ detalle.rir }}</td>
      </tr>
    </tbody>
  </table>
</div>

