<app-nav1></app-nav1>
<app-nav2> </app-nav2>
<div class="container-fluid">
    <div class="row">
      <h1 class="col" style="margin-left: 8%;">
        Planificaciones
      </h1>
      <!-- <a class="col-2" href="Planificacion.html" style="text-decoration: none; margin-right: 1rem;">
        See all
      </a> -->
    </div>
  </div>
<div class="container-fluid mx-auto" style="margin-top: 2rem; margin-bottom: 5rem; margin-left: 5rem; margin-right: 5rem">
    <div class=" row-cols-1 row-cols-md-3" style="max-width: 50%;">
       <app-ver-planificaciones></app-ver-planificaciones>
    </div>
</div>
<app-backvar1></app-backvar1>
<app-backvar2></app-backvar2>
