.crear-cuenta,
.crear-cuenta * {
  box-sizing: border-box;
}
.crear-cuenta {
  background: var(--white, #ffffff);
  width: 395px;
  height: 850px;
  position: relative;
  overflow: hidden;
}
.i-phone-status-bar-upper {
  width: 395px;
  height: 44px;
  position: absolute;
  left: calc(50% - 197.5px);
  top: 0px;
  overflow: hidden;
}
.status-icons {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 14px;
  top: 16px;
}
.network-signal-light {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.wi-fi-signal-light {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.battery-light {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.time-light {
  border-radius: 20px;
  width: 54px;
  height: 21px;
  position: absolute;
  left: 21px;
  top: 12px;
  overflow: hidden;
}
._9-41 {
  position: absolute;
  left: calc(50% - 16px);
  top: calc(50% - 7.5px);
  overflow: visible;
}
.indicator {
  opacity: 0;
  width: 6px;
  height: 6px;
  position: absolute;
  left: 300px;
  top: 6px;
}
.indicator2 {
  background: #ff9500;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.create-your-account {
  color: #000000;
  text-align: center;
  font: 400 40px "Audiowide", sans-serif;
  position: absolute;
  left: 59px;
  top: 168px;
  width: 276px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ic-round-arrow-back {
  position: absolute;
  left: 32px;
  top: 68px;
  overflow: visible;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.line-3 {
  border-style: solid;
  border-color: #dadada;
  border-width: 0.5px 0 0 0;
  width: 365px;
  height: 0px;
  position: absolute;
  left: 15px;
  top: 644px;
  transform-origin: 0 0;
  transform: rotate(-0.196deg) scale(1, 1);
}
.frame-34 {
  background: #ffffff;
  padding: 5px 42px 5px 42px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 105px;
  top: 629px;
  overflow: hidden;
}
.or-continue-with {
  color: var(--black, #000000);
  text-align: left;
  font: 400 14px "Atkinson Hyperlegible", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-4 {
  background: #1976d2;
  border-radius: 50px;
  padding: 16px 76px 16px 76px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 324px;
  position: absolute;
  left: 36px;
  top: 545px;
  box-shadow: 0px 10px 30px 0px rgba(147, 70, 159, 0.25);
}
.sign-up {
  color: #ffffff;
  text-align: left;
  font: 400 14px "Atkinson Hyperlegible", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.already-have-an-account-sign-in {
  text-align: left;
  font: 400 14px "Atkinson Hyperlegible", sans-serif;
  position: absolute;
  left: 93px;
  top: 801px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.already-have-an-account-sign-in-span {
  color: #000000;
  font: 400 14px "Atkinson Hyperlegible", sans-serif;
}
.already-have-an-account-sign-in-span2 {
  color: #1976d2;
  font: 400 14px "Atkinson Hyperlegible", sans-serif;
}
.frame-51 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 35px;
  top: 348px;
}
.frame-26 {
  background: var(--gray, #f1f1f1);
  border-radius: 10px;
  padding: 12px 20px 12px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 324px;
  position: relative;
}
.mdi-email {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.email {
  color: #949393;
  text-align: left;
  font: 400 14px "Atkinson Hyperlegible", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-27 {
  background: var(--gray, #f1f1f1);
  border-radius: 10px;
  padding: 12px 20px 12px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 324px;
  position: relative;
}
.frame-35 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.mdi-password {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.password {
  color: #949393;
  text-align: left;
  font: 400 14px "Atkinson Hyperlegible", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ph-eye-slash-fill {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.frame-37 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 35px;
  top: 476px;
}
.frame-36 {
  border-radius: 5px;
  border-style: solid;
  border-color: #1976d2;
  border-width: 1px;
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
}
.remember-me {
  color: #000000;
  text-align: left;
  font: 400 14px "Atkinson Hyperlegible", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-38 {
  display: flex;
  flex-direction: row;
  gap: 48px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 89px;
  top: 696px;
}
.akar-icons-facebook-fill {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
}
.group {
  position: absolute;
  inset: 0;
}
.clip-path-group {
  width: 40px;
  height: 40px;
  position: static;
}
.akar-icons-facebook-fill-0 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.group2 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.flat-color-icons-google {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.mdi-apple {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
