<app-nav1></app-nav1>


<div class="col-xs-12 text-center gap-3" style="margin-top:3rem" >
    <div class="row">
        <a href="#facebook page" style="text-decoration: none;">
            <p>
                <button type="button" class="btn active" data-bs-toggle="button" aria-pressed="true" style="--bs-btn-padding-x:12rem; border-radius: 25px;">
                    Continue with Facebook
                    <img src="../../../assets/Login/facebook.svg" alt="facebook">
                </button>
            </p>
        </a>
    </div>
    <div class="row">
        <a href="#google page"  style="text-decoration: none;">
            <p>
                <button type="button" class="btn active" data-bs-toggle="button" aria-pressed="true" style="--bs-btn-padding-x: 12.5rem;border-radius: 25px;">
                    Continue with Google
                    <img src="../../../assets/Login/google.svg"  alt="google">
                </button>
            </p>
        </a>
    </div>

    <div class="row">
        <a href="#apple page"  style="text-decoration: none;">
            <p>
                <button type="button" class="btn active" data-bs-toggle="button" aria-pressed="true" style="--bs-btn-padding-x: 12.8rem;border-radius: 25px;">
                    Continue with Apple
                    <img src="../../../assets/Login/apple.svg"  alt="apple">
                </button>
            </p>
        </a>
    </div>

  
</div>

<div class="col-sm-12">
        <h5 class="text-center" style="margin: 2rem; ">
            or
        </h5>
</div>

<div class="col-sm-12 text-center">
    <div class="row">
        <a href="../Planificaciones/MenuInvitado.html" style="text-decoration: none;">
            <p>
                <button type="button" class="btn active" data-bs-toggle="button" aria-pressed="true" style="padding-left: 10%; padding-right: 10%;background-color: #849AAF;color: var(--white, #FFF); border-radius: 25px;">
                    Continue like guess
                </button>
            </p>
        </a>
    </div>
    <div class="row">
        <a href="SigIn.html"  style="text-decoration: none;">
            <p>
                <button type="button" class="btn active," data-bs-toggle="button" aria-pressed="true" style="padding-left: 9.5%; padding-right: 9.5%; ; background-color: #1976D2; color: var(--white, #FFF);border-radius: 25px; ">
                    Sign in with password  
                </button>
        </p>
    </a>
    </div>
</div>

<div class="col-md-12 text-center" tyle="margin-top:4rem">
    <div class="row">
        <h5>Don't have an account?</h5>
    </div>
    <div class="row">
        <a href="create_account.html" style="text-decoration: none;">
            Create account
        </a>
    </div>
</div>
<app-backvar2></app-backvar2>
