<div style="width: 100%;
    height: 100vh;
    background: url('../../../assets/background.jpeg')  center fixed repeat;
    background-size: cover;         
    margin: 0;       
    padding: 0;">

    
    
    
    <div class="container-fluid" style="width: 100%; height: 100vh; background-color: rgba(0,0,0,0.6);">
        <div class="d-flex justify-content-center align-items-start vh-100">
            <div class="text-center mt-5" style="color: #1976D2; font-style: normal; font-weight: 800; line-height: normal; letter-spacing: 0.32px;">
                <h1 style="font-size: 35px;">Pay the service</h1>
                <h3 style="font-size: 25px; color: var(--black, #fff); font-style: normal; font-weight: 400; line-height: normal; letter-spacing: 0.14px;">Enjoy workout access without ads and restrictions.</h3>
                <div class="container-fluid">
                    <div class="d-flex justify-content-center" style="margin-top: 55px;">
                        <input type="radio" id="monthly" name="subscription" value="monthly" [(ngModel)]="seleccion">
                        <label for="monthly">
                            <div class="row">
                                <div class="col-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-center align-items-center">
                                                <div class="text-center">
                                                    <h3>Monthly</h3>
                                                    <h1>$ 9.99</h1> 
                                                    <h5>Pay once, cancel any time</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </label>
                    </div>
                    <div class="d-flex justify-content-center" style="margin-top: 55px;">
                        <input type="radio" id="yearly" name="subscription" value="yearly" [(ngModel)]="seleccion">
                        <label for="yearly">
                            <div class="row">
                                <div class="col-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-center align-items-center">
                                                <div class="text-center">
                                                    <h3>Yearly</h3>
                                                    <h1>$ 99.99</h1>
                                                    <h5>Pay once, cancel any time</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </label>
                </div>
                <div class="d-flex justify-content-center align-items ">
                    <h1>Pago seleccionado: </h1>
                <h1>$ {{ seleccion === 'monthly' ? 9.99 : 99.99 }}</h1>
                </div>

                
                <div class="d-flex justify-content-center" style="margin-top: 75px; margin-bottom: 8rem;">
                    <div class="d-flex gap-3" style="align-items: flex-start">
                        <button class="btn btn-primary btn-lg rounded-pill" style="background: #034AA6; width: 25rem;" (click)="realizarPago()">Pay</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<app-backvar1></app-backvar1>
<app-backvar2></app-backvar2>
