
<div *ngIf="varVerPlanificaciones" class="row ml-3 margin-bottom:10rem">
    <ng-container *ngFor="let planificacion of arrayPlanificaciones;index as i; let isLast = last">
      <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 1rem;">
        <div class="card" style="background-color: lightblue; border-radius: 15px;">
          <img src="../../../assets/planificacion/chicaplanificacion2.png" class="card-img-top" alt="...">
          <div class="card-body">
            <div (click)="onPlanificacionClick()">
              <h5 class="card-title">{{planificacion.idPlanificacion}}-{{planificacion.rutina}}</h5>
              <p class="card-text">Ultima Actualización: {{planificacion.fecha}}</p>
              <p class="card-text">Frecuencia: {{planificacion.frecuencia}}</p>
            </div>
            <div class="d-flex justify-content-end" *ngIf="userRol ==='admin'">
              <!-- Queda agregar la pagina o endpointt al cual le debe pegar cada planificacion para editarla -->
              <a href="#" class="btn btn-light btn-sm mr-3" style="color: rgb(85, 85, 85); background: none; border: none;" >Editar</a>
              <a href="#" class="btn btn-light btn-sm" style="color: rgb(255, 0, 0); background: none;border: none;" >Eliminar</a>
            </div>

          </div>
        </div>
      </div>
      <div class="clearfix d-lg-none d-md-block" *ngIf="isLast"></div>
      <div class="clearfix d-none d-lg-block" *ngIf="(i + 1) % 3 === 0 || isLast"></div>
    </ng-container>
  </div>
  

  

